<div class="row zeroSpace" ng-controller="HomeController">
    <div class="gifanimation" ng-show="loadinganimation">
        <img src="img/Preloader_2.gif">
    </div>
    <div class="heading">
        <div class="col-md-6 col-sm-6 ">
            <img alt="logo" src="img/ibmlogoheader.png" style="width: 100px;height: auto;"><span class="usecaselogo"><img alt="logo" src="img/logotophdr.png"></span>
        </div>
        <div class="col-md-6 col-sm-6 text-right">
            <h4 class="User-name"><img src="img/loginicon.png">Welcome  {{username}} | <select ng-model="userIndustChVa" ng-change="userIndustCh()" class="selectlistTopOrg"><option ng-repeat="neOrLi in RfetchList">{{neOrLi.company_name}}</option></select><a style="margin-left:5px" href="#/login" class="" ng-click="localStorageclear()">Logout</a></h4>
        </div>
    </div>
    <div class="clearfix"></div>

    <div ng-class="(menu.menu == true) ? 'mainmenu-sub' : 'mainmenu'">
        <div class="container">
            <div class="row userspeMenustyle">
                <div class="col-md-12 col-sm-12 text-center">
                <ul class="mainlinks">
                    <li ng-show = "searchMenu"><a ui-sref=".search" ng-click="defaultmenu()" class="forallnotFedd searchlibrarymenuI activemainlinks"><span class="icon-search"></span>Search Library</a></li>
                    <li ng-show = "feedback"><a ng-click="feedbackmenu()" class="forallnotsear feedbackmenu"><span class="icon-usermanage"></span> Feedback </a></li>
                    <!-- <li ng-show = "alertMenu"><a href="" ><span class="glyphicon glyphicon-bell" style="float:left;font-size:20px;padding-right:10px"></span><div style="float:left">Alert</div></a></li> -->
                    <li ng-show = "useCaseMaintain"><a class="forallnotsear forallnotFedd" ng-click="menuUseRule()" ><span class="glyphicon glyphicon-list-alt" style="float:left;font-size:20px;padding-right:5px"></span><div style="float:left">Use Case Maintenance</div></a> </li>
                    <li ng-show = "userAccountManagement"><a class="forallnotsear forallnotFedd" ng-click="uamanagement();" ><span class="glyphicon glyphicon-user" style="float:left;font-size:20px;padding-right:5px"></span><div style="float:left">User Account Management</div></a></li>
                    <li ng-show = "organization"><a ng-click="manageOrg()" class="forallnotsear"><span class="glyphicon glyphicon-gift" style="float:left;font-size:20px;padding-right:5px"></span><span>Manage org</span></a></li>
                    <li ng-show = "rolemenu"><a ng-click="roleMnu()" class="forallnotsear"><span class="glyphicon glyphicon-gift" style="float:left;font-size:20px;padding-right:5px"></span><span>Role</span></a></li>
                </ul>
                </div>
	            
                <script>
                    angular.element("ul.mainlinks li a").click(function() {
                        angular.element("ul.mainlinks li a").removeClass("activemainlinks");
                        angular.element(this).addClass("activemainlinks");
                    });
                </script>
            </div>
        </div>
        <div class="container-fluid">
        	<div class="row">
        		<div ng-show="menu.usecaserule">
	                <div class="sub_menu">
	                    <ul class="submainlinks">
                            <li class="btn btn-sub-menu createusecase"> <a ui-sref=".createusecase" >Create Use cases</a></li>
	                        <li class="btn btn-sub-menu updateUsecase"> <a ng-click="updateusecaseReload();" ui-sref=".updateUsecase">Update Use cases</a></li>
                            <li class="btn btn-sub-menu createrule"> <a ui-sref=".createrule" >Create Rule</a></li>
	                        <li class="btn btn-sub-menu updateRule"> <a ng-click="updateruleReload();" ui-sref=".updateRule">Update Rule</a></li>
	                    </ul>
	                </div>
	            </div>

	            <div ng-show="menu.feedback">
	                <div class="sub_menu">
	                    <ul class="submainlinks">
	                        <li class="btn btn-sub-menu"> <a ui-sref=".feedback">Edit feedback</a></li>
	                        <li class="btn btn-sub-menu"> <a ui-sref=".viewfeedback">View feedback</a></li>
	                    </ul>
	                </div>
	            </div>
	            <div ng-show="menu.uaman">
	                <div class="sub_menu">
						<ul class="submainlinks">
    						<li class="active btn btn-sub-menu" id="createusertab" ng-click="uamanager()"> <a herf="" ui-sref=".uamanagement" class=" disabfuncCUc5" >Create New</a></li>
			                <li class="btn btn-sub-menu" ng-click="uaviewer()"> <a ui-sref=".uamanagement" class=" disabfuncCUc6">Manage User</a></li>
                            <li class="btn btn-sub-menu" ng-click="uaviewerMain()"> <a ui-sref=".uamanagement" class=" disabfuncCUc7">View User</a></li>
						</ul>
					</div>
	            </div>
                <div ng-show="menu.organisation">
                    <div class="sub_menu">
                        <ul class="submainlinks">
                            <li class="btn btn-sub-menu createusecase" > <a ui-sref=".organization"  class=" disabfuncCUc1" >Create Orgnization</a></li>
                            <li class="btn btn-sub-menu updateUsecase"> <a ui-sref=".subscription" class=" disabfuncCUc2">Create Subscription</a></li>
                            <li class="btn btn-sub-menu createrule"> <a ui-sref=".UpdateOrganisation" class=" disabfuncCUc3">Update Organisation</a></li>
                            <li class="btn btn-sub-menu createrule"> <a ui-sref=".updatesubscription" class=" disabfuncCUc4">Update Subscription</a></li>
                            <li class="btn btn-sub-menu createrule"> <a ui-sref=".viewsubscription" class=" disabfuncCUc5">View Subscription</a></li>

                        </ul>
                    </div>
                </div>

                <div ng-show="menu.subrolemenu">
                    <div class="sub_menu">
                        <ul class="submainlinks">
                            <li class="btn btn-sub-menu createusecase"> <a ui-sref=".createrole"   class=" disabfuncCUc8">Create Role</a></li>
                            <li class="btn btn-sub-menu updateUsecase"> <a ui-sref=".updaterole"  class=" disabfuncCUc9">Update Role </a></li>
                            <li class="btn btn-sub-menu updateUsecase"> <a ui-sref=".viewrole"  class=" disabfuncCUc10">View Role </a></li>

                        </ul>
                    </div>
                </div>
        	</div>
            
            <script>
                    angular.element("ul.submainlinks li").click(function() {
                        angular.element("ul.submainlinks li").removeClass("subactive");
                        angular.element(this).addClass("subactive");
                    });
                </script>
        </div>
    </div>
</div>

<div class="contentHome" ui-view></div>

<div class="row zeroSpace" id="footer">
    <!-- <div class="col-md-6 col-sm-10">
        <ul class="foot-nav footliststyling">
            <li><a href="">Terms of use</a> 
            </li>
            <li><a href="">Business conduct Guidelines</a> 
            </li>
            <li><a href="">Feedback</a> 
            </li>
            <li><a href="">Accessibility </a> 
            </li>
        </ul>
    </div> -->
    <div class="col-md-6 col-sm-2 footer-logo text-right pull-right">
        <img alt="logo" src="img/ibmlogoheader.png">
    </div>
</div>
