<style>
.tabheader li.active a{
    border-bottom: 3px solid #008cce;
    color: #008cce;
    text-decoration:none;
  
}
</style>
<div class="contentHome ng-scope" ng-controller="permissionsCtrl">
  <!-- Nav tabs -->
<div class="container">
        <div class="row">
           
                <div class="col-md-6 col-sm-6">
                    <h2 class="title-head"> Assign Permissions to </h2>
                </div>
     
        </div>
  
<div class="row">
  <div class="col-md-4 col-sm-4">
      <strong>{{tabName}} Id:</strong>
      <span>{{tabName}}</span> 

    </div>
    <div class="col-md-4 col-sm-4">
      <strong>{{tabName}} Name:</strong>
      <span>{{OrgName}}</span>
    </div>
  <div class="col-md-4 col-sm-4" ng-hide="dropshowhide">
  <label class="col-md-4" for="textinput"><strong>Role Name:</strong></label>  
    <div class="col-md-8">  

<!-- <select class="col-md-12" ng-model="selectedroleList" multiple><option ng-repeat="roleList in roleListli" value="{{roleList.user_role_surr_id}}">{{roleList.user_role_name}}-{{roleList.user_role_surr_id}}</option></select> -->


                                        <select multiple class="form-control" required ng-model="selectedroleList" ng-change="chckRoleList()">
                                            <option ng-repeat="roleList in roleListli" value="{{roleList.user_role_surr_id}}">{{roleList.user_role_name}}</option>
                                        </select>
   </div>   
  </div>
</div>
 <div class="row" style="margin-top: 12px;">
    <div class="col-md-4 col-sm-6">
      <h3 class="title-head">Permission Granted On</h3>
    </div>
</div> 
  
  <div class="row">
        <div class="margintp1 col-md-12">
          <div>
      
      <ul class="tabheader" role="tablist">
    <li class="tabshead active"><a ng-click="$event.preventDefault();" href="#usercase" showtab="">Use Case</a></li>
    <li class="tabshead"><a href="#rule" ng-click="$event.preventDefault();" showtab="">Rule</a></li>
    <li class="tabshead"><a href="#org" ng-click="$event.preventDefault();" showtab="">Organization</a></li>
    <li class="tabshead"><a href="#subscription" ng-click="$event.preventDefault();" showtab="">Subscription</a></li>
  <li class="tabshead"><a href="#user" ng-click="$event.preventDefault();" showtab="">User</a></li>
  <li class="tabshead"><a href="#role" ng-click="$event.preventDefault();" showtab="">Role</a></li>
  </ul>
      <!--
           <ul class="tabheader">
              <li class="tabshead"><a herf=""
                ng-class="licreateruledetails" ng-click="lidetails()" class="active">Use Case</a></li>
              <li class="tabshead"><a herf="" ng-class="licreateruleinput"
                ng-click="liinput()">Rule</a></li>
              <li class="tabshead"><a herf=""
                ng-class="licreateruleinputdata" ng-click="liinputdata()">Organization
              </a></li>
              <li class="tabshead"><a herf=""
                ng-class="licreateruleoutput" ng-click="lioutput()">Subscription</a>
              </li>
              <li class="tabshead"><a herf="" ng-class="licreaterulethd"
                ng-click="lithd()">User</a></li>
              <li class="tabshead"><a herf="" ng-class="licreaterulethd"
                ng-click="lithd()">Role</a></li>
            </ul>
          </div>
        </div>-->
<!-- -->

  <!-- Tab panes -->
  <div class="tab-content">  
    <div role="tabpanel" class="tab-pane active" id="usercase">
  <div class="panel searchtableUser  panel-default">
      
   <table class="table table-striped">
   <thead>
   <tr class="tableheader">
     <th></th>
     <th>Create</th>
     <th>Read</th>
     <th>Update</th>
     <th>Delete</th>
     <th>Export</th>
     </tr>
   </thead>
     <tbody>
   <tr>
     <td>ALL Use Cases</td>
     <td><input type="checkbox" value="create" ng-click="creaindAll($event)" ng-disabled="disableCreateAll"></td>
     <td><input type="checkbox" value="read" ng-click="readindAll($event)" ng-disabled="disableReadAll"></td>
     <td><input type="checkbox" value="update" ng-click="updaindAll($event)" ng-disabled="disableUpdateAll"></td>
     <td><input type="checkbox" value="delete" ng-click="deleindAll($event)" ng-disabled="disableDeleteAll"></td>
     <td><input type="checkbox" value="export" ng-click="expoindAll($event)" ng-disabled="disableExportAll"></td>
   </tr>
   <tr>
     <td colspan="6" class="info">Use Case by Industry</td>
     
   </tr>
   <tr ng-repeat="industry in usecInduLi">
     <td>{{industry.Name}}</td>
     <td><input type="checkbox" value="create" ng-click="createind($event)" ng-disabled="disableCreate"></td>
     <td><input type="checkbox" value="read" ng-click="readind($event)" ng-disabled="disableRead"></td>
     <td><input type="checkbox" value="update" ng-click="updaind($event)" ng-disabled="disableUpdate"></td>
     <td><input type="checkbox" value="delete" ng-click="deleind($event)" ng-disabled="disableDelete"></td>
     <td><input type="checkbox" value="export" ng-click="expoind($event)" ng-disabled="disableExport"></td>
   </tr>
   <tr>
     <td colspan="6" class="info">Specific Use case</td>
     
   </tr>
   <tr ng-repeat="usecaLi in alluselist">
     <td value="{{usecaLi.usecase_surr_id}}">{{usecaLi.usecase_id}}</td>
     <td><input type="checkbox" value="create" ng-click="createindSpe($event)" ng-disabled="disableCreateSpe"></td>
     <td><input type="checkbox" value="read" ng-click="readindSpe($event)" ng-disabled="disableReadSpe"></td>
     <td><input type="checkbox" value="update" ng-click="updaindSpe($event)" ng-disabled="disableUpdateSpe"></td>
     <td><input type="checkbox" value="delete" ng-click="deleindSpe($event)" ng-disabled="disableDeleteSpe"></td>
     <td><input type="checkbox" value="export" ng-click="expoindSpe($event)" ng-disabled="disableExportSpe"></td>
   </tr>
     </tbody>
   </table>

  </div>
  </div>
    <div role="tabpanel" class="tab-pane" id="rule">
  <div class="panel searchtableUser  panel-default">      
       <table class="table table-striped">
   <thead>
   <tr class="tableheader">
     <th></th>
     <th>Create</th>
     <th>Read</th>
     <th>Update</th>
     <th>Delete</th>
     <th>Export</th>
     </tr>
   </thead>
     <tbody>
   <tr>
     <td>ALL Rules</td>
     <td><input type="checkbox" value="create" ng-click="creaindAllRule($event)"></td>
     <td><input type="checkbox" value="read" ng-click="readindAllRule($event)"></td>
     <td><input type="checkbox" value="update" ng-click="updaindAllRule($event)"></td>
     <td><input type="checkbox" value="delete" ng-click="deleindAllRule($event)"></td>
     <td><input type="checkbox" value="export" ng-click="expoindAllRule($event)"></td>
   </tr>
   <tr>
     <td colspan="6" class="info">Rules By Regulatory Category</td>
     
   </tr>
   <tr ng-repeat="regucat in regcatlist">
     <td>{{regucat.Name}}</td>
     <td><input type="checkbox" value="create" ng-click="createindRule($event)" ng-disabled="disableCreateRule"></td>
     <td><input type="checkbox" value="read" ng-click="readindRule($event)" ng-disabled="disableReadRule"></td>
     <td><input type="checkbox" value="update" ng-click="updaindRule($event)" ng-disabled="disableUpdateRule"></td>
     <td><input type="checkbox" value="delete" ng-click="deleindRule($event)" ng-disabled="disableDeleteRule"></td>
     <td><input type="checkbox" value="export" ng-click="expoindRule($event)" ng-disabled="disableExportRule"></td>   
   </tr>
   <tr>
     <td colspan="6" class="info">Specific Rules</td>
     
   </tr>
 <tr ng-repeat="ruleall in allrulelist">
     <td value="{{ruleall.uc_rule_surr_id}}">{{ruleall.uc_rule_id}}</td>
     <td><input type="checkbox" value="create" ng-click="createindRuleSpe($event)" ng-disabled="disableCreateRule"></td>
     <td><input type="checkbox" value="read" ng-click="readindRuleSpe($event)" ng-disabled="disableReadRule"></td>
     <td><input type="checkbox" value="update" ng-click="updaindRuleSpe($event)" ng-disabled="disableUpdateRule"></td>
     <td><input type="checkbox" value="delete" ng-click="deleindRuleSpe($event)" ng-disabled="disableDeleteRule"></td>
     <td><input type="checkbox" value="export" ng-click="expoindRuleSpe($event)" ng-disabled="disableExportRule"></td>  
   </tr>
     </tbody>
   </table>  

  </div>
  
  </div>
    <div role="tabpanel" class="tab-pane" id="org"> <table class="table table-striped" >
     <thead>
     <tr class="tableheader">
     <th></th>
     <th>Create</th>
     <th>Read</th>
     <th>Update</th>
     <th>Delete</th>
     <th>Member</th>

     </tr>
     </thead>
     <tbody>
     <tr>
     <td>All Organization</td>
     <td><input type="checkbox" value="create" ng-click="creaindAllOrg($event)"></td> 
     <td><input type="checkbox" value="read" ng-click="readindAllOrg($event)"></td>
     <td><input type="checkbox" value="update" ng-click="updaindAllOrg($event)"></td>
     <td><input type="checkbox" value="delete" ng-click="deleindAllOrg($event)"></td>
     <td><input type="checkbox" value="Member" ng-click="membindAllOrg($event)"></td>

     </tr>
     <tr class="info">
     <td colspan="5" >Organization List</td>
     <td> 
      <h4  ng-click="expanded = !expanded" expand ng-class="expanded ? 'accord1Heading' : 'accord1Heading accord2Heading'"></h4>
    </td>
     </tr>
     <tr ng-show="expanded" ng-repeat="companycr in companyListli| orderBy : 'name'">
     
     <td>{{companycr.name}}</td>
     <td><input type="checkbox" value="create" ng-click="createindOrg($event)" ng-disabled="disableCreateOrg"></td>
     <td><input type="checkbox" value="read" ng-click="readindOrg($event)" ng-disabled="disableReadOrg"></td>
     <td><input type="checkbox" value="update" ng-click="updaindOrg($event)" ng-disabled="disableUpdateOrg"></td>
     <td><input type="checkbox" value="delete" ng-click="deleindOrg($event)" ng-disabled="disableDeleteOrg"></td>
     <td><input type="checkbox" value="Member" ng-click="membindOrg($event)" ng-disabled="disableMemberOrg"></td>
    </tr>
     </tbody>
     </table></div>
    <div role="tabpanel" class="tab-pane searchtableUser" id="subscription">
  <table class="table table-striped" >
     <thead>
     <tr class="tableheader">
     <th></th>
     <th>Create</th>
     <th>Read</th>
     <th>Update</th>
     <th>Delete</th>
     </tr>
     </thead>
     <tbody>
     <tr>
     <td>All Organization</td>
     <td><input type="checkbox" value="create" ng-click="creaindAllSub($event)"></td> 
     <td><input type="checkbox" value="read" ng-click="readindAllSub($event)"></td>
     <td><input type="checkbox" value="update" ng-click="updaindAllSub($event)"></td>
     <td><input type="checkbox" value="delete" ng-click="deleindAllSub($event)"></td>
     </tr>
     <tr class="info">
     <td colspan="4" >Organization List</td>
     <td> 
      <h4  ng-click="expanded = !expanded" expand ng-class="expanded ? 'accord1Heading' : 'accord1Heading accord2Heading'"></h4>
    </td>
     </tr>
     <tr ng-show="expanded" ng-repeat="companycr in companyListli| orderBy : 'name'">
     
     <td>{{companycr.name}}</td>
     <td><input type="checkbox" value="create" ng-click="createindSub($event)" ng-disabled="disableCreateSub"></td>
     <td><input type="checkbox" value="read" ng-click="readindSub($event)" ng-disabled="disableReadSub"></td>
     <td><input type="checkbox" value="update" ng-click="updaindSub($event)" ng-disabled="disableUpdateSub"></td>
     <td><input type="checkbox" value="delete" ng-click="deleindSub($event)" ng-disabled="disableDeleteSub"></td>
    </tr>
     </tbody>
     </table>
  
  </div>
  <div role="tabpanel" class="tab-pane searchtableUser" id="user">
  <table class="table table-striped" >
     <thead>
     <tr class="tableheader">
     <th></th>
     <th>Create</th>
     <th>Read</th>
     <th>Update</th>
     <th>Delete</th>
     </tr>
     </thead>
     <tbody>
     <tr>
     <td>All Organization</td>
     <td><input type="checkbox" value="create" ng-click="creaindAllUser($event)"></td> 
     <td><input type="checkbox" value="read" ng-click="readindAllUser($event)"></td>
     <td><input type="checkbox" value="update" ng-click="updaindAllUser($event)"></td>
     <td><input type="checkbox" value="delete" ng-click="deleindAllUser($event)"></td>
     </tr>
     <tr class="info">
     <td colspan="4" >Organization List</td>
     <td> 
      <h4  ng-click="expanded = !expanded" expand ng-class="expanded ? 'accord1Heading' : 'accord1Heading accord2Heading'"></h4>
    </td>
     </tr>
     <tr ng-show="expanded" ng-repeat="companycr in companyListli| orderBy : 'name'">
     
     <td>{{companycr.name}}</td>
     <td><input type="checkbox" value="create" ng-click="createindUser($event)" ng-disabled="disableCreateUser"></td>
     <td><input type="checkbox" value="read" ng-click="readindUser($event)" ng-disabled="disableReadUser"></td>
     <td><input type="checkbox" value="update" ng-click="updaindUser($event)" ng-disabled="disableUpdateUser"></td>
     <td><input type="checkbox" value="delete" ng-click="deleindUser($event)" ng-disabled="disableDeleteUser"></td>
    </tr>
     </tbody>
     </table
     </div>
  </div>
  <div role="tabpanel" class="tab-pane searchtableUser" id="role">
  
  <table class="table table-striped" >
     <thead>
     <tr class="tableheader">
     <th></th>
     <th>Create</th>
     <th>Read</th>
     <th>Update</th>
     <th>Delete</th>
     </tr>
     </thead>
     <tbody>
     <tr>
     <td>All Organization</td>
     <td><input type="checkbox" value="create" ng-click="creaindAllRole($event)"></td> 
     <td><input type="checkbox" value="read" ng-click="readindAllRole($event)"></td>
     <td><input type="checkbox" value="update" ng-click="updaindAllRole($event)"></td>
     <td><input type="checkbox" value="delete" ng-click="deleindAllRole($event)"></td>
     </tr>
     <tr class="info">
     <td colspan="4" >Organization List</td>
     <td> 
      <h4  ng-click="expanded = !expanded" expand ng-class="expanded ? 'accord1Heading' : 'accord1Heading accord2Heading'"></h4>
    </td>
     </tr>
     <tr ng-show="expanded" ng-repeat="companycr in companyListli| orderBy : 'name'">
     
     <td>{{companycr.name}}</td>
     <td><input type="checkbox" value="create" ng-click="createindRole($event)" ng-disabled="disableCreateRole"></td>
     <td><input type="checkbox" value="read" ng-click="readindRole($event)" ng-disabled="disableReadRole"></td>
     <td><input type="checkbox" value="update" ng-click="updaindRole($event)" ng-disabled="disableUpdateRole"></td>
     <td><input type="checkbox" value="delete" ng-click="deleindRole($event)" ng-disabled="disableDeleteRole"></td>
    </tr>
     </tbody>
     </table>
  </div>
  </div>
  <input type="button" style="margin-top:15px;" class="btn btn-primary btnBottom buttonOrg" ng-click="sendPermissions()" value="Submit">

</div>
  
    
    </div>
    </div>
  
  
 