<div class="createnewpage pagebg" ng-controller="viewUserController">
	
	<div class="row zeroSpace">
		<div class="createnew-head">
			<div class="col-md-6 col-sm-6">
				<h2 class="title-head">Manage Users</h2>
			</div>

			<div class="col-md-12">
				<hr>
				<h4 class="title-head">Search</h4>
			</div>

			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<label>Organization Name</label> 
						 <select class="form-control" ng-model="selectedCompany" ng-options="company.Name for company in companyList  track by company.SurrId "
							 ng-change=getDetails()>
							<option ng-selected="selectedCompany.SurrId == company.SurrId" style="display: none" value="">--Please Select--</option>
							
						</select> 
						
						
						
					</div>
					<div class="col-md-3 col-sm-6" style="display:none">
					<label> Industry</label>
						<p>{{industryName}}</p>
						
					</div>
					<div class="col-md-3 col-sm-6" style="display:none">
						<label> Contract ID </label> 
						<p>{{contractId}}</p>
					</div>
					<div class="col-md-3 col-sm-6 adjustExpire">
					<label>Only Expiring User Accounts</label>
						<input type="checkbox" ng-model="isExpiringactive" ng-checked="expiring">
					</div>
					<div class="col-md-3 col-sm-6">
						   <label> </label>
                        <button class="tabsbtn btn btn-default ucsearchbutton" ng-click="clickme();"> Search</button>
					</div>
				</div>
			
			</div>


		</div>
	</div>
	<div class="createnew-head">
		<div class="col-md-12">
			<hr>
			<h4 class="title-head">Users List</h4>
		</div>
		<div class="panel panel-default tablecontrol">
			<div class="searchtableUser uamtable">

				<table class="table table-striped searchtablerow" fixed-header>
					<tr class="tableheader">
						<th>User Name</th>
						<th>First Name</th>
						<th>Middle Name</th>
						<th>Last Name</th>
						<th>Contact Number</th>
						<th>Email Address</th>
						<th>Expiry date</th>
						<th class="mkcenter">Extend</th>
						<th>Active</th>
						<th>Edit</th>
						<th>Permissions</th>
						<th>Delete</th>
					</tr>
					<tr ng-repeat="user in userList" class="usecaseTable">
						<td class="vmmid" ng-model="datashown">{{user.userName}}</td>
						<td class="vmmid" ng-model="datashown">{{user.firstName}}</td>
						<td class="vmmid">{{user.middleName}}</td>
						<td class="vmmid">{{user.lastName}}</td>
						<td class="vmmid">{{user.contactNo}}</td>
						<td class="vmmid">{{user.email}}</td>
						<td class="vmmid">{{user.expiration_date}}</td>
						<td class="vmmid"><div class="btn btn-default" ng-click="extendUser(user.email)">Press me</div></td>
						<td class="vmmid"><div class="activeprev" ng-click="activeUser(user.email)">{{user.isActive}}</div></td>
						 <td class="vmmid" align="center"><a ng-click="onuamedituser(user.id)"><i class="glyphicon glyphicon-edit"></i></a></td>
						 <td class="vmmid" align="center"><a  ng-click="fnOpenPermission(user.id,user.userName,'User')"><span class="glyphicon glyphicon-thumbs-up" style="font-size: 12px;"></span></a></td>
						 <td class="vmmid" align="center"><i class="glyphicon glyphicon-trash"></i></td>
					</tr>						

				</table>
			</div>

		</div>
	</div>
</div>
