<div class="container">
        <div class="col-md-12 pull-left">
        <h2 class="title-head">Create Subscription / Contract</h2>
      </div>
      <div class="clear-fix"></div>
             <div class="col-md-12 pull-left"> <hr></div>

  <div  class="col-md-12 text-center">
    <form role="form" class="">
    <div class="form-group col-md-12">
      <div class="col-md-4"><label for="org_id" class="form-group pull-right">Organization  Name<span style="color:red">*</span></label></div>
      <div class="col-md-6"><select class="col-md-12" ng-model="compList"><option ng-repeat="companylist in complist" value="{{companylist.id}}">{{companylist.name}}</option></select></div>
    </div>


    <div class="form-group col-md-12">
      <div class="col-md-4"><label for="org_id" class="form-group pull-right">Subscription/Contract Id<span style="color:red">*</span></label></div>
      <div class="col-md-6"><input type="text" ng-model="subID" class="form-control" id="org_id"></div>
    </div>
    <div class="form-group col-md-12">
      <div class="col-md-4"><label for="effecDate" class="form-group pull-right">Effective Date<span style="color:red">*</span></label></div>
      <div class="col-md-6"><input  type="text" ng-model="effecDate" class="form-control effecDate" placeholder="click to Enter Effective Date" id="effecDate">
      </div>
    </div>
    <div class="form-group col-md-12">
      <div class="col-md-4"><label for="expDate" class="form-group pull-right">Expiration Date<span style="color:red">*</span></label></div>
      <div class="col-md-6"><input type="text" ng-model="expDate" class="form-control effecDate" placeholder="click to Enter Expiration Date" id="expDate"></div>
    </div>
    <div class="form-group col-md-12">
      <div class="col-md-4"><label for="mau" class="form-group pull-right">Maximum Active Users<span style="color:red">*</span></label></div>
      <div class="col-md-6"><input type="number" ng-model="maxUser" class="form-control" id="mau"></div>
    </div>
    <div class="col-md-6 col-md-offset-4 pull-left">
    <input type="button" class="btn btn-primary tabsbtn buttonOrg" style="margin-top:0px;" ng-click="ceateContact()" value="Submit">
    <input type="button" class="btn btn-primary tabsbtn clearOrg" ng-click="clearVal()" value="Clear">
    </div>
     </form>
  </div>
</div>
<!-- <div class="createnewpage pagebg" ng-controller="subcripcrip">

            <table class="table table-striped searchtablerow fixed-header">

                    <tr ng-repeat="pkgdata in rulesPckg | startFrom:currentPage*pageSize | limitTo:pageSize">

                        <td><a href="javascript:void(0);" ng-click="open();feedbackForm(pkgdata.ruleid, pkgdata.ruleid_label, pkgdata.rulename, $index)" data-toggle="modal" data-target="#myModal" class="pull-right"><span class="icon-feedback"></span></a>
                        </td>
                    </tr>
            </table>

    <script type="text/ng-template" id="myModalContent.html">


                    <input type="text" class="form-control" required ng-change="onchangeStartDate()"  datepicker-popup="yyyy-MM-dd" ng-model="startdt" datepicker-options="dateOptions" is-open="opened" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>

    </script>
</div> -->
